@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

:root {
  --bg-intro-and-email: hsl(217, 28%, 15%);
  --bg-main: hsl(218, 28%, 13%);
  --bg-footer: hsl(216, 53%, 9%);
  --bg-testimonials: hsl(219, 30%, 18%);
  --gradient-cta-1: hsl(176, 68%, 64%);
  --gradient-cta-2: hsl(198, 60%, 50%);
  --txt-error: hsl(0, 100%, 63%);
  --txt-white: hsl(0, 0%, 100%);

  --openSans: "Open Sans", sans-serif;
  --raleway: "Raleway", sans-serif;
  font-size: 14px;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--txt-white);
}

body {
  font-family: var(--openSans);
}

.header,
.nav,
.container,
.card,
.testimonialComponent,
.profileComponent,
.profileUser,
form,
.footerWrapper,
.footerSection,
.socialIcons {
  display: flex;
}

.intro,
.testimonialComponent,
.profileUser,
.productive,
.footerWrapper,
form {
  flex-direction: column;
}

.card,
.container,
.btn,
input,
button,
.socialIcons,
.footerContainer {
  margin: 0 auto;
}

.header {
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 3rem 1.5rem;
  margin: 0 auto 1rem;
}

.logo {
  height: 24px;
}

.logo {
  cursor: pointer;
}

.nav {
  padding: 0;
  list-style: none;
}

.nav li {
  font-size: 0.85rem;
  margin-left: 1.75rem;
}

.nav li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.container,
.card {
  width: 85%;
  max-width: 800px;
}

.introSection {
  background: url(images/bg-curvy-desktop.svg), var(--bg-intro-and-email);
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: -99;
}

.bodySection {
  background-color: var(--bg-main);
  z-index: -99;
}

.intro {
  text-align: center;
  padding-bottom: 9rem;
}

.intro .graphic {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 2rem;
}

h2 {
  font-family: var(--raleway);
  font-size: 1.75rem;
  max-width: 700px;
  margin: 0 auto 1rem;
  line-height: 2.5rem;
}

.text {
  line-height: 1.5rem;
  width: 93%;
  max-width: 600px;
  margin: 0 auto 2rem;
}

.btn {
  width: 55%;
  max-width: 200px;
  background: linear-gradient(
    to right,
    var(--gradient-cta-1) -50%,
    var(--gradient-cta-2)
  );
  padding: 1rem 2rem;
  border-radius: 50px;
  font-weight: 700;
}

button:hover,
.btn:hover {
  cursor: pointer;
  background: linear-gradient(
    to right,
    var(--gradient-cta-1) 50%,
    var(--gradient-cta-2)
  );
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6rem;
  text-align: center;
  padding-bottom: 10rem;
}

.grid img {
  height: 60px;
  margin-bottom: 1rem;
}

.productive h2,
.componentTitle,
.cardTitle {
  font-family: var(--raleway);
  font-size: 1.35rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.productive {
  padding-bottom: 6rem;
}

.productive .graphic {
  width: 100%;
  margin-bottom: 4rem;
}

.link {
  position: relative;
  display: inline-block;
  color: var(--gradient-cta-1);
  font-size: 0.85rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid;
}

.link:hover {
  cursor: pointer;
  color: var(--txt-white);
}

.link::after {
  position: absolute;
  right: -1rem;
  top: 50%;
  transform: translate(50%, -50%);
  content: url(images/icon-arrow.svg);
}

.testimonial {
  margin-top: 6rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: 75%;
  padding-bottom: 300px;
}

.testimonial::before {
  position: absolute;
  content: url(images/bg-quotes.png);
  top: 0;
  left: 0;
  transform: translate(0, -65%) scale(0.5);
}

.testimonialComponent {
  background-color: var(--bg-testimonials);
  padding: 1.5rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.05);
}

.testimonialComponent > *,
.profileComponent > *,
.profileUser > * {
  margin: 0;
}

.testimonialQuote {
  margin-bottom: 1rem;
  line-height: 1.25rem;
}

.profileComponent {
  align-items: center;
}

.profileImg {
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.profileName {
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.profileTitle {
  margin-top: 0;
  font-size: 0.6rem;
}

.card {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 0.5rem;
  background-color: var(--bg-intro-and-email);
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.25);
}

.cardText {
  margin-bottom: 2rem;
}

input,
button {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 50px;
}

input {
  padding-left: 1rem;
  margin-bottom: 1.5rem;
}

input:focus {
  outline: none;
}

button {
  color: var(--txt-white);
  font-weight: 700;
  background: linear-gradient(
    to right,
    var(--gradient-cta-1) -50%,
    var(--gradient-cta-2)
  );
}

.footer {
  position: relative;
  padding: 260px 2rem 2rem;
  background-color: var(--bg-footer);
}

.footer .logo {
  height: 48px;
}

.footer img {
  height: 12px;
  margin-right: 1rem;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin-bottom: 0.5rem;
}

.footer li:hover {
  cursor: pointer;
  color: var(--gradient-cta-1);
}

.footerSection {
  align-items: baseline;
}

.socialIcons {
  width: 33%;
  justify-content: space-between;
  align-items: center;
}

.socialIcons li:hover {
  cursor: pointer;
  border-bottom: 1px solid;
  transform: translateY(-5%);
  color: var(--gradient-cta-1);
}

.productive,
.testimonial,
.footerContainer {
  max-width: 1100px;
}

@media (min-width: 800px) {
  :root {
    font-size: 18px;
  }

  .productive,
  form,
  .footerWrapper {
    flex-direction: row;
  }

  .nav li {
    font-size: 1rem;
    margin-left: 3.5rem;
  }

  .logo {
    height: 48px;
  }

  h2 {
    font-size: 2rem;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  .productive {
    align-items: center;
  }

  .productive .graphic {
    width: 50%;
  }

  .productive h2 {
    font-size: 2rem;
    max-width: 300px;
    margin-left: 0;
    margin-right: auto;
  }

  .productive .textContent {
    padding: 2rem;
  }

  .testimonial {
    grid-template-columns: 1fr 1fr 1fr;
  }

  input {
    width: 60%;
    justify-self: flex-start;
  }

  button {
    width: 30%;
    justify-self: flex-end;
  }

  .footerWrapper {
    justify-content: space-between;
    align-items: baseline;
  }

  .socialIcons {
    flex-direction: column;
  }
}
